@import '../../../styles/theme.scss';

.score-section {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    @extend .font-face-poppinssemibold;
    @extend .text-white;
    @extend .text-score;

    &.section-1 {
        height: 25dvh;
        @extend .bg-gradient-01;
    }

    &.section-2 {
        height: 20dvh;
        @extend .bg-gradient-02;
    }

    &.section-3 {
        height: 15dvh;
        @extend .bg-gradient-03;
    }

    &.section-4 {
        height: 10dvh;
        @extend .bg-gradient-04;
    }

    &.section-5 {
        height: 5dvh;
        @extend .bg-gradient-05;
    }
}
