@import '../../../styles/theme.scss';

.leaderboard-container {
    width: 100%;
    border-radius: 9999px;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    @extend .text-white;
}

.leaderboard-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img-container {
    height: 40px;
    width: 40px;
}

.leaderboard-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
