@import '../../../styles/theme.scss';

.main-modal-overlay {
    height: 100dvh;
    width: 100dvw;
    opacity: 0.85;
    @extend .bg-secondary;
    position: absolute;
    top: 0;
}

.main-modal-container {
    @extend .bg-white;
    min-width: 360px;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 480px;
    border-radius: 12px;
    @extend .shadow-low;
    padding: 0px !important;
    padding-top: 24px !important;
    padding-bottom: 16px !important;
    max-height: max-content;
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
    .main-modal-container {
        max-width: 360px;
    }
}

.main-illustration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 75px;
    width: 100%;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.w-16 {
    width: 16px;
}

.level-button {
    @extend .text-gray80;
    border: 1px solid;
    @extend .body02-regular;
    @extend .border-gray80;
    padding: 8px 16px;
    border-radius: 16px;
    min-width: 100px;

    &.selected {
        @extend .body02-bold;
        @extend .text-red;
        @extend .border-red01;
        @extend .bg-primary-shade;
    }
}

.play-section-container {
    padding: 24px;
    min-height: 350px;
}

.difficulties-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaderboard-section-container {
    padding: 24px;
    height: 330px;
    min-height: 350px;
}

.empty-leaderboard-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
