@import '../../../styles/theme.scss';

.gameover-modal-overlay {
    height: 100dvh;
    width: 100dvw;
    opacity: 0.5;
    @extend .bg-secondary;
    position: absolute;
    top: 0;
}

.modal-container {
    @extend .bg-white;
    min-width: 360px;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 480px;
    border-radius: 12px;
    @extend .shadow-low;
    padding: 24px;
    max-height: max-content;
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
    .modal-container {
        max-width: 360px;
    }
}

.illustration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 150px;
    width: 150px;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.w-16 {
    width: 16px;
}
