@import '../../../styles/theme.scss';

.common-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .bg-primary;
    border-radius: 56px;
    height: 48px;
    border: 2px solid;
    @extend .border-red01;
    @extend .body01-bold;
    @extend .text-white;
    @extend .shadow-high;
    @extend .font-face-poppinssemibold;

    &:hover {
        @extend .bg-red02;
    }

    &:disabled {
        @extend .text-disable;
        @extend .bg-softgray;
        @extend .border-disable;

        &:hover {
            @extend .bg-softgray;
        }
    }

    &.secondary {
        @extend .bg-white;
        border: 2px solid;
        @extend .text-red;
        @extend .border-red02;

        &:hover {
            @extend .bg-white80;
        }

        &:disabled {
            @extend .bg-white;
            @extend .text-disable;
            @extend .border-gray03;

            &:hover {
                @extend .bg-white;
            }
        }
    }

    &.text {
        @extend .bg-white;
        @extend .text-info;
        border: none;
        box-shadow: none;

        &:hover {
            @extend .bg-gray80;
        }

        &:disabled {
            @extend .bg-white;
            @extend .text-disable;

            &:hover {
                @extend .bg-white;
            }
        }
    }
}
