@import '../../../styles/theme.scss';

.input_container {
    width: 100%;
    @extend .bg-white;
}

.input_style {
    width: 100%;
    margin-top: 8px;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
    border-width: 1px;
    @extend .border-gray02;
}

.supporting_text {
    text-align: left;
    @extend .text-secondary;
}
