@import '../../../styles/theme.scss';

.tab-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
    min-width: 46px;
    position: relative;
}

.indicator {
    @extend .bg-info;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    bottom: 0;
}
