/* background color theme */
.bg-primary {
    background-color: #ed0226 !important;
}

.bg-secondary {
    background-color: #001a41 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-red02 {
    background-color: #ff3351 !important;
}

.bg-disable {
    background-color: #f5f6fa !important;
}

.bg-info {
    background-color: #0050ae !important;
}

.bg-gradient-01 {
    background-color: #ff0025 !important;
}

.bg-gradient-02 {
    background-color: #bf072c !important;
}

.bg-gradient-03 {
    background-color: #800d33 !important;
}

.bg-gradient-04 {
    background-color: #40143a !important;
}

.bg-gradient-05 {
    background-color: #001a41 !important;
}

.bg-white80 {
    background-color: #fff5f6 !important;
}

.bg-gray80 {
    background-color: #f9f9fa !important;
}

.bg-softgray {
    background-color: #f1f1f4 !important;
}

.bg-ball {
    background: radial-gradient(circle at 15px 15px, #ffffff, #000) !important;
}

.bg-primary-shade {
    background-color: #ffebee !important;
}

/* font color theme */
.text-primary {
    color: #001a41 !important;
}

.text-secondary {
    color: #4e5764 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-red {
    color: #ed0226 !important;
}

.text-success {
    color: #008e53 !important;
}

.text-warning {
    color: #fda22b !important;
}

.text-failed {
    color: #bc1d42 !important;
}

.text-info {
    color: #0050ae !important;
}

.text-disable {
    color: #b3bac6 !important;
}

.text-gray80 {
    color: #99a0a7 !important;
}

// border color
.border-red01 {
    border-color: #ed0226 !important;
}

.border-red02 {
    border-color: #ff0025 !important;
}

.border-red-error {
    border-color: #bc1d42 !important;
}

.border-gray01 {
    border-color: #ccd1d9 !important;
}

.border-gray02 {
    border-color: #cccfd3 !important;
}

.border-gray03 {
    border-color: #b3bac6 !important;
}

.border-gray04 {
    border-color: #66707a !important;
}

.border-gray80 {
    border-color: #99a0a7 !important;
}

.border-darkblue {
    border-color: #001a41 !important;
}

.border-white {
    border-color: #ffffff !important;
}

.border-disable {
    border-color: #f1f1f4 !important;
}

/* Typeface */
@font-face {
    font-family: 'TelkomselBold';
    src: local('TelkomselBold'), url('../assets/fonts/TelkomselBatikSans-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'TelkomselRegular';
    src: local('TelkomselRegular'), url('../assets/fonts/TelkomselBatikSans-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: local('PoppinsSemiBold'), url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: local('PoppinsRegular'), url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.font-face-tselbold {
    font-family: 'TelkomselBold';
}

.font-face-tselregular {
    font-family: 'TelkomselRegular';
}

.font-face-poppinsregular {
    font-family: 'PoppinsRegular';
}

.font-face-poppinssemibold {
    font-family: 'PoppinsSemiBold';
}

/* TypeScale */
h1 {
    font-size: 44px;
    font-family: 'TelkomselBold';
    line-height: 56px;
    letter-spacing: 0;
}

h2 {
    font-size: 32px;
    font-family: 'TelkomselBold';
    line-height: 48px;
    letter-spacing: 0;
}

h3 {
    font-size: 28px;
    font-family: 'TelkomselBold';
    line-height: 40px;
    letter-spacing: 0;
}

h4 {
    font-size: 24px;
    font-family: 'TelkomselBold';
    line-height: 40px;
    letter-spacing: 0;
}

h5 {
    font-size: 18px;
    font-family: 'TelkomselBold';
    line-height: 24px;
    letter-spacing: 0;
}

h6 {
    font-size: 16px;
    font-family: 'TelkomselBold';
    line-height: 24px;
    letter-spacing: 0;
}

.title-bold {
    font-size: 16px;
    font-family: 'PoppinsSemiBold';
    line-height: 24px;
    letter-spacing: 0;
}

.modal-title {
    font-size: 19px;
    font-family: 'TelkomselBold';
    line-height: 28px;
    letter-spacing: 0;
}

.text-score {
    font-size: 16px;
    font-family: 'PoppinsSemiBold';
    line-height: 18px;
    letter-spacing: 0;
}

.title-regular {
    font-size: 16px;
    font-family: 'PoppinsRegular';
    line-height: 24px;
    letter-spacing: 0;
}

.body01-bold {
    font-size: 14px;
    font-family: 'PoppinsSemiBold';
    line-height: 20px;
    letter-spacing: 0;
}

.body01-regular {
    font-size: 14px;
    font-family: 'PoppinsRegular';
    line-height: 20px;
    letter-spacing: 0;
}

.body02-bold {
    font-size: 12px;
    font-family: 'PoppinsSemiBold';
    line-height: 20px;
    letter-spacing: 0;
}

.body02-regular {
    font-size: 12px;
    font-family: 'PoppinsRegular';
    line-height: 20px;
    letter-spacing: 0;
}

// shadow
.shadow-high {
    box-shadow: 0px 0px 4px rgba(158, 158, 158, 0.2) !important;
}

.shadow-low {
    box-shadow: 0px 2px 2px rgba(158, 158, 158, 0.2) !important;
}

.modal-shadow {
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2) !important;
}
