@import '../../../styles/theme.scss';

.score-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px;
    display: flex;
    height: 25dvh;
    align-items: center;
    justify-content: center;
    @extend .text-white;
    flex-direction: column;
}
