@import './presentation/styles/theme.scss';

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// h-screen w-screen flex flex-col relative items-center justify-items-center mx-auto

.main-container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.control-section-container {
    display: flex;
    width: 100%;
    height: 25dvh;
    align-items: center;
    justify-content: center;
}

.control-button-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
