@import '../../../styles/theme.scss';

.circle {
    position: absolute;
    display: block;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    @extend .bg-ball;
}
